.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    word-break: break-all;
}

.list__item--done {
    text-decoration: line-through;
}

.list__item--hidden {
    display: none;
}

.list__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    transition: background 1s, transform 3s;
    transform-origin: right bottom;
}

.list__button--toggleDone {
    background-color: rgb(12, 131, 12);
}

.list__button--toggleDone:hover {
    background-color: rgb(15, 100, 15);
    transform: scale(1.05);
}

.list__button--toggleDone:active {
    background-color: rgb(38, 164, 38);
}

.list__button--remove {
    background-color: rgb(208, 3, 3);
}

.list__button--remove:hover {
    background-color: rgb(136, 9, 9);
    transform: scale(1.05);
}

.list__button--remove:active {
    background-color: rgb(202, 71, 71);
}