html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  background-color: #ebebeb;
  font-family: 'Lato', sans-serif;
  max-width: 900px;
  min-width: 320px;
  margin: 0 auto;
  padding: 20px;
}